---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=7f6eeac89549acbac00ab6a0b257029b&exclude=minutely,alerts&lat=39.7625&lon=-104.9901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7625,"lon":-104.9901,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610990612,"sunrise":1610979463,"sunset":1611014573,"temp":34.48,"feels_like":27.75,"pressure":1017,"humidity":60,"dew_point":23.18,"uvi":1.23,"clouds":75,"visibility":10000,"wind_speed":3.44,"wind_deg":90,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1610989200,"temp":34.48,"feels_like":27.05,"pressure":1017,"humidity":60,"dew_point":23.18,"uvi":1.23,"clouds":75,"visibility":10000,"wind_speed":4.7,"wind_deg":128,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1610992800,"temp":35.74,"feels_like":30.49,"pressure":1019,"humidity":65,"dew_point":25.93,"uvi":1.78,"clouds":46,"visibility":10000,"wind_speed":1.41,"wind_deg":108,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1610996400,"temp":37.98,"feels_like":32.68,"pressure":1019,"humidity":63,"dew_point":27.16,"uvi":1.93,"clouds":16,"visibility":10000,"wind_speed":1.77,"wind_deg":218,"weather":[{"id":801,"main":"Clouds","description":[...]
