---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely,alerts&lat=39.7625&lon=-104.9901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7625,"lon":-104.9901,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611118433,"sunrise":1611065832,"sunset":1611101041,"temp":25.79,"feels_like":19.69,"pressure":1031,"humidity":59,"dew_point":14.81,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":73,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611115200,"temp":25.79,"feels_like":20.07,"pressure":1031,"humidity":59,"dew_point":14.81,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.31,"wind_deg":46,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611118800,"temp":28.92,"feels_like":22.44,"pressure":1031,"humidity":69,"dew_point":21.04,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.64,"wind_deg":224,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611122400,"temp":30.88,"feels_like":23.63,"pressure":1030,"humidity":75,"dew_point":24.71,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.7,"wind_deg":178,"weather":[{"id":800,"main":"Clear","description":"clear
        sky[...]
