---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely,alerts&lat=39.7625&lon=-104.9901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7625,"lon":-104.9901,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611098666,"sunrise":1611065832,"sunset":1611101041,"temp":36.88,"feels_like":27.84,"pressure":1026,"humidity":32,"dew_point":12.2,"uvi":0.18,"clouds":1,"visibility":10000,"wind_speed":5.75,"wind_deg":100,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1611097200,"temp":36.88,"feels_like":29.79,"pressure":1026,"humidity":32,"dew_point":12.2,"uvi":0.18,"clouds":1,"visibility":10000,"wind_speed":2.33,"wind_deg":69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1611100800,"temp":36.23,"feels_like":29.35,"pressure":1027,"humidity":50,"dew_point":20.8,"uvi":0,"clouds":19,"visibility":10000,"wind_speed":3.22,"wind_deg":23,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1611104400,"temp":34.84,"feels_like":28.69,"pressure":1030,"humidity":64,"dew_point":24.85,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.77,"wind_deg":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky[...]
