---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&exclude=minutely,alerts&lat=39.7625&lon=-104.9901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7625,"lon":-104.9901,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1612041454,"sunrise":1612015768,"sunset":1612052221,"temp":50.16,"feels_like":30.81,"pressure":1012,"humidity":20,"dew_point":12.97,"uvi":1.53,"clouds":75,"visibility":10000,"wind_speed":24.16,"wind_deg":260,"wind_gust":31.07,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1612040400,"temp":50.16,"feels_like":35.02,"pressure":1012,"humidity":20,"dew_point":12.97,"uvi":1.53,"clouds":75,"visibility":10000,"wind_speed":16.69,"wind_deg":307,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1612044000,"temp":48.78,"feels_like":36.19,"pressure":1012,"humidity":32,"dew_point":21.58,"uvi":0.79,"clouds":38,"visibility":10000,"wind_speed":13.51,"wind_deg":307,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1612047600,"temp":46.99,"feels_like":36.39,"pressure":1013,"humidity":39,"dew_point":24.33,"uvi":0.25,"clouds":16,"visibility":10000,"wind_speed":10.54,"wind_deg":319,"weather":[{"id":801,"main":"Clouds","description[...]
